.review {
    padding-bottom: 5px;
}
.panel-body.review-container {
    padding-top: 0;
}
.review-header {
    margin-bottom: 10px;
}
.review-author {
    margin: 0 5px;
}
.review-timestamp {
    color: #ccc;
}
