mixin outputRating(rating)
  - for(var i = 0; i < rating; i++)
    span.glyphicon.glyphicon-star
  - for(var i = rating; i < 5; i++)
    span.glyphicon.glyphicon-star-empty

mixin outputFacilities(facilities)
  each facility in facilities
    spanspan.label.label-warning
      span.glyphicon.glyphicon-ok
      | &nbsp;#{facility}
    | &nbsp;
